<p>summary works!</p>

<button mat-button color="primary" (click)="create()">Create New</button>

<button mat-button color="primary" (click)="edit()">Edit</button>

<button mat-button color="primary" (click)="details()">Details</button>