<p>main works!</p>
<!--
<section *ngIf="routeBased === true">
    <div>
        <router-outlet></router-outlet>
    </div>
</section>
-->
<section *ngIf="routeBased === false">
    <div>
        <lib-summary *ngIf="comp===allPages.summary" (navigate)="onNavigation('summary', $event);"></lib-summary>
        <lib-details *ngIf="comp===allPages.details" (navigate)="onNavigation('details', $event);"></lib-details>
        <lib-create *ngIf="comp===allPages.create" (navigate)="onNavigation('create', $event);"></lib-create>
        <lib-edit *ngIf="comp===allPages.edit" (navigate)="onNavigation('edit', $event);"></lib-edit>
        <lib-review *ngIf="comp===allPages.review" (navigate)="onNavigation('review', $event);"></lib-review>
    </div>
</section>